.menu {
  width: 200px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.menu-item {
  font-family: "Quando", serif;
  font-weight: 400;
  font-size: 16px;
  line-height: normal;
  color: #000;
  text-decoration: none;
}

.menu-item:hover {
  color: #f8a607;
}
