.product-card--box {
  font-family: "Poppins", sans-serif;

  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.product-card {
  max-width: 365px;
  min-height: 357px;
  text-align: center;
  border: 2px solid #eee;

  float: left;
  width: calc(25% - 24px);
  margin: 0 10px 77px;
}

.product-card--link {
  text-decoration: none;
}

.img-product--card {
  width: 100%;
}

.title-pc {
  font-weight: 600;
  font-size: 24px;
  padding: 27px 0;
}

.description-pc {
  font-weight: 400;
  font-size: 20px;
  max-width: 307px;
  padding: 0 0 27px;
  margin: 0 auto;
}

@media (max-width: 967px) {
  .product-card {
    width: calc(50% - 20px);
  }
}

@media (max-width: 667px) {
  .product-card {
    width: calc(100% - 20px);
  }
}
